h1 Categories

form(action='/cat/new')
 input(type='submit', value='New Category')

table
  thead
    tr
      th Name
      th Description
  tbody
    for cat in categories
      tr
        tdz
          a(href='/cat/#{cat._id}')= cat.name
        td= cat.description
