if note
  h1 Edit Note
else
  h1 New Note

- var item = note || {title: '', text: ''}
- var over = note ? '/' + note._id + '?_method=PUT' : ''

form(method='POST', action='/notes#{over}')
  .input-group
    label(for='title') Title
    input#title(type='text', name='title', placeholder='Title Goes Here', value='#{item.title}')
  .input-group
    label(for='content') Note
    textarea#content(name='content', placeholder='Type your note here')= item.content
  .input-group
    label(for='cat') Category
    select#cat(name='category')
      for cat in categories
        // - var selected = cat._id === note.category._id

        option(value=cat._id, selected=selected)= cat.name
  .input-group
    input(type='submit', value='Save Note!')

form(action='/notes')
 input(type='submit', value='Cancel')
