h1 New Note

form(method='POST', action='/notes')
  .input-group
    label(for='title') Title
    input#title(type='text', name='title', placeholder='Title Goes Here')
  .input-group
    label(for='content') Note
    textarea#content(name='content' placeholder='Type your Note here')
  .input-group
    input(type='submit', value='Save Note!')

